<table class='table table-striped table-condensed'>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td class="col-md-2"><%= song.title %></td>
      <td class="col-md-2"><%= song.artist %></td>
      <td class="col-md-2"><%= song.album %></td>
    </tr>
  <% end %>
</table>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @songs %>